body {
    text-align: center;
}

#webgl-content {
}

.centered {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#title {
    text-align: center;
    font-family: sans-serif;
    margin: 2rem 0;
}

#unity-container {
    position: relative;
    width: 100%;
    padding-bottom: 40%;
    margin: 1rem 0;
    border: 10px solid red;
}

#unity-canvas {
    background: {{{ BACKGROUND_FILENAME ? 'url(\'Build/' + BACKGROUND_FILENAME.replace(/'/g, '%27') + '\') center / cover' : BACKGROUND_COLOR }}};
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    border: 10px solid green;
}

#loading-bar {
    background-color: aliceblue;
}
#loading-bar #progressbar {
    background-color: steelblue;
    border: 2px black solid;
    border-radius: 10px;
    position: absolute;
    width: 50%;
    height: 75px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#loading-bar #fill {
    background-color: skyblue;
    border-radius: 10px;
    height: 100%;
}
